

/*location*/
iframe{
    width: 100%;
}

.con-us{
    background-color: rgb(254, 245, 231);
    color: black;
    width: 100%;
}
  
.con-us h2{
    padding-top: 8px;
    padding-bottom: 10px;
    color: black;
}

  
.con-us a{
    color: white;
    text-decoration: none;
    background-color:dodgerblue;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.input {
    border: 2px solid transparent;
    width: 90%;
    height: 2.3em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s;
}


  .input:hover,
  .input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }

/* end of location */
