/*welcome*/

.welcome{
    position: relative;
    top: 0%;
}

.welcome h2{
    font-size:300%;
    font-family:david libre;
    font-weight: 500;
}

.welcome a{
    text-decoration: none;
    background-color: black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 10px 2px ;
    font-family: david libre;
}

.full-leaf{
    width: 200px;
    z-index: -1;
    position: relative;
    top: 15%;
    left: -10%;
}

.gar-1{
    width: 60px;
    position: relative;
    top: -25px;
    left:-90px;
}

.gar-2{
    width: 50px;
    position: relative;
    top: 20px;
    left: -52px;
    transform: rotate(425deg);
}


@media (max-width:768px){
    .welcome h2{
        font-size:x-large;
        font-weight: 900;
    }
}
