
:root {
    --base-font-size: 26px; /* Set your base font size here */
    --base-font-one: 'Dancing Script', cursive;
    --base-font-two:'Fuggles', cursive;
    --base-font-three:'Kaushan Script', cursive;
    --base-font-four:'Montserrat', sans-serif;
    --base-font-five:'Pacifico', cursive;

  }
  


  






body{
    background-image: url(../images/ellipse.png);
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
/* navbar  */
.navlogo{
    width:192px;
    height:146px;
    margin-left: 71px;
    margin-top:15px;
}
.navbar-collapse{
/* font-family: David Libre; */
font-size: 23px;
font-style: normal;
font-weight: 500;
justify-content: right;
margin-top: -55px;
margin-right:40px;
}
.navbar-nav{
    gap:10px;
}
.nav-link:hover{
    color: orange !important;
}

@media screen and (max-width:1000px) {
    
    body{
        background-image: none;
    }
    .navlogo{
        width:120px;
        height:90px;
        margin-left: 10px;
        margin-top:0px;
    }
    .navbar-collapse{
        /* font-family: David Libre; */
        font-size: 19px;
        font-style: normal;
        font-weight: bold;
        justify-content: right;
        margin-top: 10px;
        margin-left:10px;
        }
        .navbar-nav{
            gap:0px;
        }
        .nav-link:hover{
            color: orange !important;
        }
}
/* navbar  */

/* hero section */

.rcorners2 {
    border-radius: 15px 50px 30px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}
.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 30px;
    width: 300px;
    height: 500px;
    border-radius:50px 15px 50px 30px;
  padding: 20px; 
  width: 400px;
  height: 600px; 
  }
  .image2 {
    position: absolute;
    top: 450px;
    left: 0px;
    
    width: 150px;
    height: 150px;
    left: -40px;
    
  }
  .image3 {
    position: absolute;
    top: -50px;
    left: 30px;
    
    width: 200px;
    height: 200px;
    left: 290px;
    z-index: -5;
    opacity: 0.5;
    
  }
  .image4 {
    position: absolute;
    top: -40px;
    left: 0px;
    
    width: 200px;
    height: 150px;
    left: -20px;
    z-index: -5;
    opacity: .5;
  }
  .image5 {
    position: absolute;
    top: 350px;
    left: 0px;
    
    width: 150px;
    height: 200px;
    left: 350px;
    z-index: -5;
    opacity: .5;
  }

  @media (max-width:400px) {
    .image2 {
        position: absolute;
        top: 400px;
        left: 30px;
        
        width: 150px;
        height: 150px;
        left: 0;
        
      }
  }
 
 @media (max-width:415px) {
    .image2 {
        position: absolute;
        top: 450px;
        left: 0px;
        
        width: 150px;
        height: 150px;
        left: 0px;
        
 }
}

 /* hero section end */

 /* menu card */
.header{
  text-align: center;
  width: auto;
}
.card-img{
    height: 40%;
    
    border-radius: 200%;
    position: relative;
    top: -10px;
    left: 25%;
    
}

.item-active{
  background-color: rgba(238, 228, 228, 0.87);
  position: relative;
  width: 200px;
  
  
  border-radius: 30px 0px;
  height: auto;
  font-size: 14px;
  margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    
  
}
.item-active:hover{
    background-color: gray;
    position: relative;
    width: 200px;
    
    height: 260px;
    border-radius: 35px 0px;
    height: auto;
    font-size: 14px;
    

    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);

  
}

  

.game-section {
    padding: 30px;
    position: relative;
    height: 1000px;
    background-image: url(../images/Group\ 14.png);
  }
  .game-section .owl-stage {
    margin: 100px 0;
    display: flex;
    display: -webkit-flex;
  }
  .game-section .card-img {
    
    
    background-color: bla;
    height: 100px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    
  }

  .game-section .owl-theme.custom-carousel .owl-dots {
    margin-top: 20px;
    position: relative;
    size: 10px;
  }
  @media (max-width:390px) {
    .game-section{
        /* position: relative; */
        width: 272px;
        left: 60px;
        
        
        height: auto;
        border-radius: 30px 0px;



        
    
      
    }
    
  }
@media (min-width:1440px) {
  .game-section{
    
    width: 1348px;
    left: 54px;
    height:auto ;
    
  }
}

/* menu card end */



@media (max-width:500px) {
    
    
    .image3 {
      position: absolute;
      top: -20px;
      left: 40px;
      
      width: 100px;
      height: 100px;
      left: 250px;
      z-index: -5;
      opacity: 0.5;
      
    }
    .image4 {
      position: absolute;
      top: -40px;
      left: 0px;
      
      width: 200px;
      height: 150px;
      left: 20px;
      z-index: -5;
      opacity: .5;
    }
    .image5 {
      position: absolute;
      top: 300px;
      left: 40px;
      
      width: 100px;
      height: 150px;
      left: 250px;
      z-index: -5;
      opacity: .5;
    }
    .image1 {
      position: relative;
      top: 0;
      left: 30px;
      width: 100px;
      height: 300px;
      border-radius:50px 15px 50px 30px;
    padding: 20px; 
    width: 300px;
    height: 500px; 
    }
  
    .image2 {
      position: absolute;
      top: 400px;
      left: 0px;
      
      width: 100px;
      height: 100px;
      left: 10px;
      
    }
    .parent {
      position: relative;
      top: 0px;
      left: 0px;
      
    }
    .text{
        position: relative;
        
    }
  }

  /* the hero text top in mobile and center in desktop */
  .heading-center{
    font-family: var(--base-font-five);
    font-size: 5rem;
    margin-top:200px;
    /* color: grey ; */
    opacity: 70%;
  }
  @media (max-width:768px) {
    .heading-center{
        text-align: center;
        font-size: 30px;
        margin-top:0px !important;
      }
      .p-center{
        text-align: center;
      }
  }

 
   
 /* hero section end */


/*welcome*/

.welcome{
    position: relative;
    top: 0%;
}

.welcome h2{
    font-size:300%;
    font-family:david libre;
    font-weight: 500;
}

.welcome a{
    text-decoration: none;
    background-color: black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 10px 2px ;
    font-family: david libre;
}

.full-leaf{
    width: 200px;
    z-index: -1;
    position: relative;
    top: 15%;
    left: -10%;
}

.gar-1{
    width: 60px;
    position: relative;
    top: -25px;
    left:-90px;
}

.gar-2{
    width: 50px;
    position: relative;
    top: 20px;
    left: -52px;
    transform: rotate(425deg);
}


@media (max-width:768px){
    .welcome h2{
        font-size:x-large;
        font-weight: 900;
    }
    .welcome{

        text-align: center;
        top: -35%;
    }
    .full-leaf{
        width: 150px;
        top: 0%;
        left: 20%;
    }
}

@media (max-width:512px) {
    .all{
        width: 350px;
    }

    .full-leaf{
        top: 0%;
        left: 20%;
    }
}
/*end of welcome*/
/*location*/
iframe{
    width: 100%;
}

.con-us{
    background-color: rgb(254, 245, 231);
    color: black;
    width: 100%;
}


  form{
    padding: 2vw 2vw;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 6px;
    background: #ff5361;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 130px;
    margin: 5px;
    border-radius: 30px;
}

input:hover,
input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }

/* end of location */




/* footer */
footer{

  display: grid;
  font-size: 14px;
  
}

.ans{
  background-color: rgb(20, 19, 19);
  background-image: url('../images/');
  background-repeat: no-repeat;
} 
.footerlist{
  list-style: none;
  /* text-decoration:; */
  text-align: start;
  
}
.new{
  text-decoration: none;
  color: white;
}
.ptex{
  color: white;
}
.box3{
  padding: 110px;
}
.box4{
  padding: 110px;
}
.box1{
  padding: 110px;
}
@media (max-width:576px){
  .box3{
      padding: 0px;
      margin-top: 10px;
  }
  .box4{
      padding: 0px;
      margin-top: 10px;
  }
  .box1{
      padding: 0px;
      margin-top: 10px;
  }
  .box2{
      padding: 0;
  }
  .box-3  li a:hover{
      color: orange;
  }
  .box1 li a:hover{
      color: orange;
  }
  
}
@media (min-width:577px){
  .ans{
      background-color: rgb(20, 19, 19);width: fit-content;
      background-image: url(../images/Group\ 92.png); width: fit-content;
      width:100%;
  }
  .box3{
      padding: 0px;
      margin-top: 117px;
      margin-left: 120px;
     
  }
  .box4{
      padding: 0px;
      margin-top: 117px;
      
     
  }
  .box-1{
      padding: 0px;
      margin-top: 117px;
      margin-left: 90px;
  }
  .box-2{
      padding: 0;
  }
  .box3 li a:hover{
      color: orange;
  }
  .box1 li a:hover{
      color: orange;
  }
  
}