
:root {
    --base-font-size: 26px; /* Set your base font size here */
    --base-font-one: 'Dancing Script', cursive;
    --base-font-two:'Fuggles', cursive;
    --base-font-three:'Kaushan Script', cursive;
    --base-font-four:'Montserrat', sans-serif;
    --base-font-five:'Pacifico', cursive;
    --base-color-first:#F2EA7E;
    --base-color-second:#D97C0B;
    --base-color-third:#F26D3D;
    --base-color-fourth:#F24C3D;
    --base-font-six: 'The Sans';
  }
  


  






body{
    background-image: url(../images/ellipse.png);
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    
}
/* navbar  */
.navlogo{
    width:192px;
    height:146px;
    margin-left: 71px;
    margin-top:15px;
}
.navbar-collapse{
/* font-family: David Libre; */
font-size: 23px;
font-style: normal;
font-weight: 500;
justify-content: right;
margin-top: -55px;
margin-right:40px;
}
.navbar-nav{
    gap:10px;
}
.nav-link:hover{
    color: #ec8911 !important;
}

@media screen and (max-width:1000px) {
    
    body{
        background-image: none;
    }
    .navlogo{
        width:120px;
        height:90px;
        margin-left: 10px;
        margin-top:0px;
    }
    .navbar-collapse{
        /* font-family: David Libre; */
        font-size: 19px;
        font-style: normal;
        font-weight: bold;
        justify-content: right;
        margin-top: 10px;
        margin-left:10px;
        }
        .navbar-nav{
            gap:0px;
        }
        .nav-link:hover{
            color: #ec8911 !important;
        }
}
/* navbar  */

/* hero section */

.rcorners2 {
    border-radius: 15px 50px 30px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}
.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 30px;
    width: 300px;
    height: 500px;
    border-radius:50px 15px 50px 30px;
  padding: 20px; 
  width: 400px;
  height: 600px; 
  }
  .image2 {
    position: absolute;
    top: 450px;
    left: 0px;
    
    width: 150px;
    height: 150px;
    left: -40px;
    
  }
  .image3 {
    position: absolute;
    top: -50px;
    left: 30px;
    
    width: 200px;
    height: 200px;
    left: 290px;
    z-index: -5;
    opacity: 0.5;
    
  }
  .image4 {
    position: absolute;
    top: -40px;
    left: 0px;
    
    width: 200px;
    height: 150px;
    left: -20px;
    z-index: -5;
    opacity: .5;
  }
  .image5 {
    position: absolute;
    top: 350px;
    left: 0px;
    
    width: 150px;
    height: 200px;
    left: 350px;
    z-index: -5;
    opacity: .5;
  }

  @media (max-width:400px) {
    .image2 {
        position: absolute;
        top: 400px;
        left: 30px;
        
        width: 150px;
        height: 150px;
        left: 0;
        
      }
  }
 
 @media (max-width:415px) {
    .image2 {
        position: absolute;
        top: 450px;
        left: 0px;
        
        width: 150px;
        height: 150px;
        left: 0px;
        
 }
}

 /* hero section end */

 /* menu card */
.header{
  text-align: center;
  width: auto;
}
.card-img{
    height: 40%;
    
    border-radius: 200%;
    position: relative;
    top: -10px;
    left: 25%;
    
}

.item-active{
  background-color: rgba(238, 228, 228, 0.87);
  position: relative;
  width: 200px;
  
  
  border-radius: 30px 0px;
  height: auto;
  font-size: 14px;
  margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    
  
}
.item-active:hover{
    background-color: gray;
    position: relative;
    width: 200px;
    
    height: 260px;
    border-radius: 35px 0px;
    height: auto;
    font-size: 14px;
    

    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);

  
}

  

.game-section {
    padding: 30px;
    position: relative;
    /* height: 1000px; */
    background-image: url(../images/Group\ 14.png);
  }
  .game-section .owl-stage {
    margin: 100px 0;
    display: flex;
    display: -webkit-flex;
  }
  .game-section .card-img {
    
    
    background-color: bla;
    height: 100px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    
  }

  .game-section .owl-theme.custom-carousel .owl-dots {
    margin-top: 20px;
    position: relative;
    size: 10px;
  }
  @media (max-width:390px) {
    .game-section{
        /* position: relative; */
        width: 272px;
        left: 60px;
        
        
        height: auto;
        border-radius: 30px 0px;



        
    
      
    }
    
  }
@media (min-width:1440px) {
  .game-section{
    
    width: 1348px;
    left: 54px;
    height:auto ;
    
  }
}

/* menu card end */



@media (max-width:500px) {
    
    
    .image3 {
      position: absolute;
      top: -20px;
      left: 40px;
      
      width: 100px;
      height: 100px;
      left: 250px;
      z-index: -5;
      opacity: 0.5;
      
    }
    .image4 {
      position: absolute;
      top: -40px;
      left: 0px;
      
      width: 200px;
      height: 150px;
      left: 20px;
      z-index: -5;
      opacity: .5;
    }
    .image5 {
      position: absolute;
      top: 300px;
      left: 40px;
      
      width: 100px;
      height: 150px;
      left: 250px;
      z-index: -5;
      opacity: .5;
    }
    .image1 {
      position: relative;
      top: 0;
      left: 30px;
      width: 100px;
      height: 300px;
      border-radius:50px 15px 50px 30px;
    padding: 20px; 
    width: 300px;
    height: 500px; 
    }
  
    .image2 {
      position: absolute;
      top: 400px;
      left: 0px;
      
      width: 100px;
      height: 100px;
      left: 10px;
      
    }
    .parent {
      position: relative;
      top: 0px;
      left: 0px;
      
    }
    .text{
        position: relative;
        
    }
  }

  /* the hero text top in mobile and center in desktop */
  .heading-center{
    font-family: var(--base-font-five);
    font-size: 5rem;
    margin-top:200px;
    /* color: grey ; */
    opacity: 70%;
  }
  @media (max-width:768px) {
    .heading-center{
        text-align: center;
        font-size: 30px;
        margin-top:0px !important;
      }
      .p-center{
        text-align: center;
      }
  }

 
   
 /* hero section end */


/*welcome*/

.welcome{
    position: relative;
    top: 0%;
}

.welcome h2{
    font-size:300%;
    font-family:david libre;
    font-weight: 500;
}

.welcome a{
    
    text-decoration: none;
    background-color: black;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border-radius: 10px 2px ;
    font-family: david libre;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.welcome a:hover{
  background-color: #ec8911;
 
}

.full-leaf{
    width: 200px;
    z-index: -1;
    position: relative;
    top: 15%;
    left: -10%;
}

.gar-1{
    width: 60px;
    position: relative;
    top: -25px;
    left:-90px;
}

.gar-2{
    width: 50px;
    position: relative;
    top: 20px;
    left: -52px;
    transform: rotate(425deg);
}


@media (max-width:768px){
    .welcome h2{
        font-size:x-large;
        font-weight: 900;
    }
    .welcome{

        text-align: center;
        top: -35%;
    }
    .full-leaf{
        width: 150px;
        top: 0%;
        left: 20%;
    }
}

@media (max-width:512px) {
    .all{
        width: 350px;
    }

    .full-leaf{
        top: 0%;
        left: 20%;
    }
}
/*end of welcome*/

/* event */
.ev-pt1{
  position: relative;
  padding:  4.625rem 0rem;
}
.ev-w{
  width: 10.875rem;
  height: 4.0625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ev-w>h4{
  font-family:david libre;
  font-weight:bolder ;
  font-size: 2.9rem;
  padding-top: 3.90rem;
}

.bg-ev{
  opacity: 0.1;
  height: 100%;
  width: 100%;
  transform: translate(-35%);
}

.ev-pt2{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* image carousel */

.slider-ev {
  text-align: center;
  font-size: 1.125rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.event-c{
  padding: 1.875rem;
  border:none !important;
  cursor: pointer; 
  height: auto;
  & img{
    height: 18.75rem;
    border-radius: 0rem !important;

  }
  & .card-body{
    background-color: black;

    & .card-title{
      color: white !important;
    }

    & .card-text{
      color: white !important;
    }
  }
}


.btn-ev{ 
border-color: rgba(255,132,0,1) !important;
position: absolute;
transform: translate(-50%, -50%); 
width: 11.25rem; 
height: 3.75rem; 
text-decoration: none; 
text-align: center; 
margin-top: 2.5rem; 
font-size: 1.25rem; 
overflow: hidden; 
background: rgb(230,231,19);
background: linear-gradient(90deg, rgba(230,231,19,1) 9%, rgba(255,132,0,1) 100%);
border-radius: 0px !important;
font-size: larger !important;
font-weight: bolder;
translate: 50%;
} 

.btn-ev::before { 
content: ""; 
position: absolute; 
width: 0; 
height: 0; 
left: 0; 
bottom: 0; 
border-style: solid; 
border-color:white; 
border-width: 5rem 6.25rem; 
z-index: -1; 
transform: rotate(360deg); 
transition: 1s; 
transform-origin: left; 
} 

.btn-ev:hover::before { 
border-color:yellow; 
transform: rotate(60deg); 
}

/* end of event */

/*location*/
iframe{
    width: 100%;
}

.con-us{
    background-color: rgb(254, 245, 231);
    color: black;
    width: 100%;
}


  form{
    padding: 20px;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px ;
    padding: 10px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 6px;
    background: var(--base-color-fourth);
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 130px;
    margin: 5px;
    border-radius: 29rem;
}

input:hover {
    border: 1px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }

form button:hover {
  background-color: var(--base-color-second);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* end of location */




/* footer */
footer{

  display: grid;
  font-size: 14px;
  font-family: var(--base-font-six);
}

.ans{
  background-color: rgb(20, 19, 19);
  background-image: url('../images/');
  background-repeat: no-repeat;
} 
.footerlist{
  list-style: none;
  /* text-decoration:; */
  text-align: start;
  
}
.new{
  text-decoration: none;
  color: white;
}
.ptex{
  color: white;
}
.box3{
  padding: 110px;
}
.box4{
  padding: 110px;
}
.box1{
  padding: 110px;
}
@media (max-width:576px){
  .box3{
      padding: 0px;
      margin-top: 10px;
  }
  .box4{
      padding: 0px;
      margin-top: 10px;
  }
  .box1{
      padding: 0px;
      margin-top: 10px;
  }
  .box2{
      padding: 0;
  }
  .box-3  li a:hover{
      color: orange;
  }
  .box1 li a:hover{
      color: orange;
  }
  
}
@media (min-width:577px){
  .ans{
      background-color: rgb(20, 19, 19);width: fit-content;
      background-image: url(../images/Group\ 92.png); width: fit-content;
      width:100%;
  }
  .box3{
      padding: 0px;
      margin-top: 117px;
      margin-left: 120px;
     
  }
  .box4{
      padding: 0px;
      margin-top: 117px;
      
     
  }
  .box-1{
      padding: 0px;
      margin-top: 117px;
      margin-left: 90px;
  }
  .box-2{
      padding: 0;
  }
  .box3 li a:hover{
      color: orange;
  }
  .box1 li a:hover{
      color: orange;
  }
  
}








ul .fa-brands {
  color: white;
}
ul .fa-brands:hover , .fa-brands:hover {
  color: var(--base-color-third);
}